.todo-item {
  position: relative;
  padding: 5px 60px 5px 25px;
  text-align: left;
  border-top: 1px solid violet;
}
.todo-item.task-1 {
  margin: 5px 0 0 0;
}
.button-delete-task {
  position: absolute;
  right: 0;
  top: 3px;
  width: 60px;
}
.field-task-status {
  position: absolute;
  top: 8px;
  left: 5px;
  margin: 0;
  max-width: 13px;
  max-height: 13px;
}
.field-task-status:hover {
  border-color: blueviolet;
  outline-color: blueviolet;
}
